In [1]:
from kiwipiepy import Kiwi
import pandas as pd
from tqdm import tqdm

kiwi = Kiwi()

datasetsFilePath = "datasets/"

In [2]:
df = pd.read_csv(f'{datasetsFilePath}sentiment_train.csv',index_col=0)
df.head()

                         발화  감정
0  언니 동생으로 부르는게 맞는 일인가요..??  불안
1              그냥 내 느낌일뿐겠지?  불안
2            아직너무초기라서 그런거죠?  불안
3             유치원버스 사고 낫다던데  불안
4               근데 원래이런거맞나요  불안

In [3]:
for i in tqdm(range(len(df))):
    text = df.iloc[i,0]
    corpus = kiwi.tokenize(text,compatible_jamo=True,z_coda=True)
    tokens = []
    for token in corpus:
        if (token.tag in ["SW","Z_CODA"]):
            continue
        tokens.append(token.form)
    df.iloc[i,0] = " ".join(tokens)
    
df.head()

100%|██████████████████████████████████████████████████████████████████████████| 32696/32696 [00:13<00:00, 2397.11it/s]

                                    발화  감정
0  언니 동생 으로 부르 는 것 이 맞 는 일 이 ㄴ가 요 ..??  불안
1                그냥 나 의 느낌 이 ㄹ 뿐 겠 지 ?  불안
2             아직 너무 초기 이 라서 그런 거 이 죠 ?  불안
3                    유치원 버스 사고 나 엇 다던데  불안
4                      근데 원래 이런 거 맞 나요  불안