In [1]:
import pandas as pd

datasetsFilePath = "datasets/"

In [2]:
df = pd.read_csv(f'{datasetsFilePath}sentiment_train.csv',index_col=0)
df.head()

,발화,감정,str_len,attention_mask,token_type_ids
0,2 19009 13925 10540 16229 5815 13244 3785 2859...,불안,24,1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
1,2 11733 783 12006 5698 6039 23027 3 0 0 0 0 0 ...,불안,12,1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
2,2 11033 5953 5954 6094 5662 14321 10752 5842 6...,불안,14,1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
3,2 19393 13465 11005 27098 5677 5905 3 0 0 0 0 ...,불안,13,1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
4,2 17124 12139 5706 6243 5842 6388 15275 3 0 0 ...,불안,11,1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...

## KoElectraTokenizer의 vocab.txt 사용
vocab_file_path = ['datasets/vocab.txt'](https://github.com/monologg/KoELECTRA/blob/master/pretrain/vocab.txt)

In [4]:
from tqdm import tqdm
from WordPieceTokenizer import WordPieceTokenizer

vocab_file_path = 'datasets/vocab.txt'
tokenizer = WordPieceTokenizer(vocab_file_path, do_lower_case=False, strip_accents=False,clean_text=True)

In [5]:
max_length = 200
attention_masks = []
token_type_ids_ = []
for i in tqdm(range(len(df))):
    text_to_encode = df.iloc[i,0]
    encoded_result = tokenizer.encode(text_to_encode, max_length=max_length)
    input_ids = " ".join(map(str,encoded_result['input_ids']))
    attention_mask = " ".join(map(str,encoded_result['attention_mask']))
    token_type_ids = " ".join(map(str,encoded_result['token_type_ids']))
    df.iloc[i,0] = input_ids
    attention_masks.append(attention_mask)
    token_type_ids_.append(token_type_ids)

df['attention_mask'] = attention_masks
df['token_type_ids'] = token_type_ids_ 
df.head()

100%|█████████████████████████████████████████████████████████████████████████| 146348/146348 [02:29<00:00, 981.32it/s]

,발화,감정,str_len,attention_mask,token_type_ids
0,2 22 15163 5775 5784 10815 5784 15645 22483 13...,불안,24,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
1,2 22 30858 21623 16553 5776 14727 5775 5783 13...,불안,12,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
2,2 22 18064 21623 14268 5780 5776 14268 5780 58...,불안,14,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
3,2 22 13605 27417 10815 21884 5780 18064 5775 5...,불안,13,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
4,2 22 10850 14633 5883 29724 24527 14219 5775 5...,불안,11,1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ...,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...

In [12]:
df.to_csv(f"{datasetsFilePath}sentiment_train.csv")